.signup-container{
    height: 100vh;
    width: 100%;
    background-color: white;
}
#dropd-logo{
    width:120px;
}
.navbar-wrapper{
    display: flex;
    height:50px
}
.data-box{
    min-height: 58px;
    width: 321px;
    background-color:  #C4C4C4;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}
.feature-box{
    height: 321px;
    width: 321px;
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.button-container{
    display: flex;
    width:321px;
    /* background-color: red; */
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    
}
.signup-button{
    border-radius: 19px;
    color: white;
    border: none;
    height: 40px;
    width: 150px;
    background-color: #C387C3;
    font-size: 16px;
    font-weight: 400;
}
.signup-footer{
    width: 321px;
    display:flex;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
}
.footer-item{
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}